@import "tailwindcss";

@theme {
  --color-slate-900: #0f172a;
  --color-indigo-600: #4f46e5;
  --color-rose-500: #f43f5e;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* Slate 900 */
    --foreground: #f1f5f9; /* Slate 100 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
